@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

.home-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/bg1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* position: relative; */
  position: absolute;
  z-index: -1;
}

.monkey-image-container {
  position: absolute;
  top: 10%;
  left: 35%;
  text-align: center;
}

.monkey img {
  width: 450px;
  display: block;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  position: relative;
}

.message-text {
  position: absolute;
  top: 30%;
  color: #11aec6;
  font-size: 22px;
}

.start-btn-container {
  position: absolute;
  right: 0;
  bottom: 2%;
}

.prev-image-container {
  width: 100%;
  position: absolute;
  top: 3%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.progress {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 580px;
  background: rgb(226, 242, 245);
  height: 30px;
  border-radius: 20px;
  position: relative;
}

img.blank_banana {
  position: absolute;
  left: 95%;
  width: 100px;
}

.cards {
  left: 20%;
  bottom: 10%;
  gap: 25px;
}

.card {
  width: 400px;
  height: 420px;
  background-color: #fff;
  border-radius: 50px;
}

.card {
  color: red;
  width: 300px;
  position: relative;
}

.card .text {
  font-size: 1.2rem;
  color: #11aec6;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin-left: 1rem;
  font-weight: 1000;
}

.text p {
  color: #a6c930;
  font-weight: 1000;
}

.card .desctioption img {
  position: absolute;
  left: 0;
}
